<% layout('layouts/boilerplate') %>

<div id="cluster-map"></div>
<div class="container">
<h1>All Camps</h1>
<div>
  <a href="/campgrounds/new">Create a new camp</a>
</div>
<% for(let campground of campgrounds){ %>
<div class="card mb-3">
  <div class="col-md-4">
    <% if (campground.images.length) { %>
    <img class="img-fluid" alt="" src="<%= campground.images[0].url %> " />
    <% } else {%>
    <img class="img-fluid" alt=""
      src="https://cdn3.vectorstock.com/i/1000x1000/42/02/map-point-logo-icon-design-vector-22904202.jpg" />
    <%  } %>
  </div>
  <div class="col-md-8">
    <div class="card-boyd">
      <h5 class="card-title"><%= campground.title %></h5>
      <p class="card-text"><%= campground.description %></p>
      <p class="card-text">
        <small class="text-muted"><%= campground.location %> </small>
      </p>
      <a href="/campgrounds/<%= campground._id %>" class="btn btn-primary">View <%= campground.title %>
      </a>
    </div>
  </div>
</div>
</div>
<% } %>

<script>
  const mapToken = '<%-process.env.MAPBOX_TOKEN%>';
  const campgrounds = { features: <%- JSON.stringify(campgrounds) %>}
</script>

<script src="/scripts/clusterMap.js"></script>