<% layout('layouts/boilerplate') %>

<div class="row">
  <div class="col-6 offset-3">
    <div class="card mb-3">
      <img
        src="<%= campground.image %> "
        class="card-img-top"
        alt="Responsive image"
      />
      <div class="card-body">
        <h1 class="card-title h1"><%= campground.title %></h1>
        <p class="card-text"><small><%= campground.description %></small></p>
      </div>
      <ul class="list-group list-group-flush">
        <em
          ><li class="list-group-item text-muted">
            <%= campground.location %>
          </li></em
        >
        <strong
          ><li class="list-group-item">BDT <%= campground.price %></li></strong
        >
      </ul>
      <div class="card-body">
        <a
          href="/campgrounds/<%=campground._id%>/edit"
          class="btn btn-info"
          tabindex="-1"
          role="button"
          >Edit</a
        >
        <form
          class="d-inline"
          action="/campgrounds/<%= campground._id %>?_method=DELETE"
          method="POST"
        >
          <button class="btn btn-danger">DELETE</button>
        </form>
      </div>
    </div>
  </div>
</div>
